/* .container {
  width: 1000px;
  margin: 0 auto;
}

.satu {
  border: solid;
  width: 200px;
  height: 200px;
  background-color: green;
  border-image-source: url("img/border1.png");
  border-image-width: 50px;
} */

 
/* .container {

} */
