header {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

p {
  column-width: 300px;
  column-fill: balance;
  column-gap: normal;
  column-rule: 2px solid;
  text-align: justify;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
